# node modules
node_modules/
# rpm build
rpmbuild/
dist/new_build/
# docs build
_build/
# coverage
coverage/
.nyc_output/
# local test directory/files
test/functional/logs/
test/functional/*_harness_file.json
test/artifacts/
# misc
.vscode/
**/.DS_Store
# generated schema & docs
dist/ts.schema.json
docs/schema-reference.rst
